<div>
  <div id="adContainerLeft">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/33b6c527914975.5636cb0b80183.jpg">  <!-- added -->
  </div> 

  <div id="adContainerRight">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/33b6c527914975.5636cb0b80183.jpg">  <!-- added -->
  </div>

  <h2 id="page-heading" data-cy="ProductHeading">
    <span jhiTranslate="shopApp.product.home.title">Products</span>

    <div id="searchBar">
      <input id="searchInput" type="text" [(ngModel)]="userInput" (keyup.enter)="searchProducts()"
        placeholder="Suchen..."> <!-- Calls searchProducts() on Enter Key Press -->
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shopApp.product.home.refreshListLabel">Refresh list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-product"
        [routerLink]="['/product/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shopApp.product.home.createLabel">Create a new Product</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (products?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="shopApp.product.home.notFound">No Products found</span>
  </div>
  }
  

  @if (products && products.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.name">Name</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.description">Description</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.price">Price</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inStock">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.inStock">In Stock</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.image">Image</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="category.id">
            <div class="d-flex">
              <span jhiTranslate="shopApp.product.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'EUR'}}</td> <!-- Added Currency Pipe -->
          <td>{{ product.inStock }}</td>
          <td>
            @if (product.image) {
            <a (click)="openFile(product.image, product.imageContentType)">
              <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 30px"
                alt="product image" />
            </a>
            }
          </td>
          <td>
            @if (product.category) {
            <div>
              <a [routerLink]="['/category', product.category.id, 'view']">{{ product.category.name }}</a>
              <!-- Changed product.category.id to name -->
            </div>
            }
          </td>
          <td class="text-end">
            <div class="btn-group">

              <input id="cartAmountInputField" placeholder="Amount:" onclick="clearCartAmountInputFieldPlaceholderText()"> <!-- Added-->
              <button id="addToCartButton" (click)="addToCart(product)" class="btn btn-warning"><fa-icon icon="shopping-cart"></fa-icon> Add to Cart
               <!-- Calls addToCart Method -->
              </button>

              <a [routerLink]="['/product', product.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>

            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>