<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paymentMethod) {
      <div>
        <h2 data-cy="paymentMethodDetailsHeading"><span jhiTranslate="shopApp.paymentMethod.detail.title">Payment Method</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paymentMethod.id }}</span>
          </dd>
          <dt><span jhiTranslate="shopApp.paymentMethod.name">Name</span></dt>
          <dd>
            <span>{{ paymentMethod.name }}</span>
          </dd>
          <dt><span jhiTranslate="shopApp.paymentMethod.description">Description</span></dt>
          <dd>
            <span>{{ paymentMethod.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment-method', paymentMethod.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
